table{
    border-collapse: collapse;
    margin: 0 auto;
    margin-top: 250px;
}

th{
    padding: 10px 20px;
    border: solid 2px black;
    text-align: center;
   
}

td{
    padding: 10px 20px;
    border: solid 2px black;
    text-align: center;
}